/* =========================================
*            global attributes            *
=========================================*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #eee;
  color: #444;
}

a {
  text-decoration: none;
  color: currentColor;
}

input:focus {
  outline: none;
}

/*==============================
*            header            *
==============================*/

header {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: sticky;
  top: 0;
  background: #eee;
  z-index: 1;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*==================  searchbar container ==================*/

.searchbar {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #b1b1b1 solid;
  padding: 0.75rem 0;
  width: 20%;
}

.searchbar-input {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #444;
}

.searchbar-input:focus {
  outline: none;
}

.fa-search {
  transition: all 400ms;
  font-size: 1.5rem;
}

.fa-search:hover {
  color: #a87932;
  cursor: pointer;
}

.filter-button {
  margin: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px currentColor solid;
  transition: all 300ms;
}

.filter-button:hover {
  color: #a87932;
  cursor: pointer;
}

/*==================  banner img  ==================*/

.img-banner {
  height: 10vh;
  width: 100%;
  background: url("../imgs/restuarant.jpeg");
  background-size: cover;
  background-position: 50% 55%;
}
