/* =========================================
*            global attributes            *
=========================================*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #eee;
  color: #444;
}

a {
  text-decoration: none;
  color: currentColor;
}

input:focus {
  outline: none;
}

/*==============================
*            header            *
==============================*/

header {
  flex-direction: column;
  align-items: left;
  top: 0;
  background: #eee;
  z-index: 1;
}

/*==================  searchbar container ==================*/

.searchbar {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #b1b1b1 solid;
  padding: 0.75rem 0;
  width: 20%;
  background: transparent;
}

.searchInputBar {
  border: none;
  font-size: 1.5rem;
  color: #444;
  background: transparent;
}

.search-input:focus {
  outline: none;
}

.fa-search {
  transition: all 400ms;
  font-size: 1.5rem;
}

.fa-search:hover {
  color: #a87932;
  cursor: pointer;
}

.filter-button {
  margin: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px currentColor solid;
  transition: all 300ms;
}

.filter-button:hover {
  color: #a87932;
  cursor: pointer;
}

/*==================  banner img  ==================*/

.img-banner {
  height: 10vh;
  width: 100%;
  background: url("../imgs/restuarant.jpeg");
  background-size: cover;
  background-position: 50% 55%;
}

/*=========================================
*                    Body                 *
=========================================*/
.one-half {
  padding: 3rem;
  position: relative;
  z-index: 0;
}

header,
section,
footer {
  overflow: auto;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
}
/*=========================================
*                    Left Container              *
=========================================*/

.content-title {
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 50px;
}

#content-rating-title {
  margin-bottom: 1.75rem;
  font-size: 30px;
  margin-left: 30px;
}

#content-phone {
  font-size: 15px;
  margin-bottom: 2rem;
  margin-left: 35px;
  letter-spacing: 1px;
}

#content-address {
  font-size: 15px;
  margin-bottom: 2rem;
  margin-left: 35px;
  letter-spacing: 1px;
}

#content-website {
  font-size: 15px;
  margin-bottom: 2rem;
  margin-left: 35px;
  letter-spacing: 1px;
}

#content-preview-title {
  margin-top: 1rem;
  font-size: 50px;
  margin-bottom: 1.75rem;
  color: #a87932;
}

#content-preview-container {
  color: #a87932;
  font-size: 1.75rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.content-preview {
  font-size: x-large;
}

.fa-star {
  color: #a87932;
}

.fa-phone {
  margin-right: 10px;
}

.fa-map-pin {
  margin-right: 10px;
}

.fa-link {
  margin-right: 10px;
}
