/*=======================================
*            global elements            *
=======================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  background: #eee;
  color: #71949f;
}

a {
  text-decoration: none;
  color: currentColor;
}

.content-container {
  display: flex;
  min-height: 75vh;
}

.container {
  width: 100%;
}

/*======================================
*            top container            *
======================================*/
header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

/*==================  title  ==================*/

.title {
  font-size: 3rem;
  color: #f26b6b;
  text-transform: uppercase;
}

/*======================================*      
*               Search Bar              *
*======================================*/

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms all;
  border: 1px solid #f26b6b;
  /* border-radius: 2rem; */
}

.searchbar:hover {
  cursor: pointer;
}

.search-input {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  transition: all 500ms ease-in-out;
  padding: 0 20px;
}

.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  outline: none;
}

.fa-search {
  margin: 0;
  height: 60px;
  width: 60px;
  color: #eee;
  background: #f26b6b;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  float: right;
  transition: all 300ms;
}

.fa-search:hover {
  color: #71949f;
}

/*======================================*      
*               Img Divider             *
*======================================*/

.title-img-banner {
  height: 10vh;
}

/*======================================
*            left container            *
======================================*/

.content-container-left {
  min-width: 45%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  position: relative;
  text-align: left;
}

.content-title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #71949f;
  font-family: Rhodium Libre;
}

.content-subtitle {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  z-index: 0;
}

.content-subtitle:nth-child(4) {
  margin-bottom: 3rem;
}

.bottom-title {
  font-size: 2.5rem;
  color: #f26b6b;
  font-family: Rhodium Libre;
}

/*==================  content-preview  ==================*/

#content-preview-container {
  display: flex;
  flex-direction: row;
}

.content-preview {
  border: solid;
  border-width: 2px;
  border-color: #f26b6b;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 1rem;
  transition: all 300ms;
}

.content-preview:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #eee;
  background: #f29b34;
}

/*=======================================
*     right container            *
=======================================*/

.content-container-right {
  min-width: 55%;
  min-height: 100%;
  /* height: 100%; */
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

/*==================  foodie-level ==================*/

.content-rating-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#content-rating-title {
  font-size: 2rem;
  margin-right: 1rem;
}

.fa-star {
  height: 100px;
  color: #f29b34;
}

/*==================  Map ==================*/

.content-map {
  height: 100px;
  width: 100px;
}
