@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

/*=======================================
*            global elements            *
=======================================*/

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    background: #eee;
    color: #444;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    display: flex;
}

/*======================================
*            left container            *
======================================*/

.left-container { 
    min-width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*==================  searchbar  ==================*/

.search-container {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*==================  cuisine  ==================*/

.cuisine-container{
    display: flex;
    flex-direction: column;
    height: 20%;
}

.cuisine-container ul {
    display: flex;
}

.cuisine-container li {
    display: flex;
}

/*==================  foodie level  ==================*/

.foodie-container {
    height: 20%;
}

/*==================  price range  ==================*/

.price-range-container {
    height: 20%;
}

/*==================  toggles  ==================*/

.toggle-container {
    height: 20%;
}

.open-now-container, 
.online-delivery-container {
    display: flex;
}

/*=======================================
*            right container            *
=======================================*/

.right-container {
    min-width: 65%;
    height: 100vh;
}
