.container {
    display: flex;
    flex: 1;
}

.left-container { 
    min-width: 40%;
}

.right-container {
    flex-direction: row; 
    flex-wrap: wrap;
}

.cuisine-container{
    display: flex;
    flex-direction: row;
}


/* .cuisine-container2{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
} */